.done {
  color: #999;
}
.closed {
  color: #999;
  text-decoration: line-through;
}
.todo-list {
  border-radius: 10px;
  border: 3px dotted yellowgreen;
}
.done-list {
  border-radius: 10px;
  border: 3px dotted gray;
}
.remove-list {
  border-radius: 10px;
  border: 3px dotted pink;
}
